<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT products ANY>
<!ATTLIST products id ID #REQUIRED>
<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1152" key="578311d0-18d4-4d78-a865-f85f6ea27c85" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-09-10T12:46:26" updateDate="2018-09-14T13:58:16" nodeName="Homepage" urlName="homepage" path="-1,1152" isDoc="" nodeType="1151" creatorName="Tertia Southwick" writerName="Tertia Southwick" writerID="0" template="1150" nodeTypeAlias="homePage" isPublished="true">
    <keywords><![CDATA[[]]]></keywords>
    <umbracoNavihide>0</umbracoNavihide>
    <websiteTitle><![CDATA[dubqwouifgvqew]]></websiteTitle>
    <websiteFooter><![CDATA[yep]]></websiteFooter>
    <homepageArticle2Header><![CDATA[yep]]></homepageArticle2Header>
    <homepageArticle1Header><![CDATA[yep]]></homepageArticle1Header>
    <homepageArticle3Header><![CDATA[yep]]></homepageArticle3Header>
    <homepageArticle3Body><![CDATA[<p>yep</p>]]></homepageArticle3Body>
    <homepageArticle2Body><![CDATA[<p>yep</p>]]></homepageArticle2Body>
    <homepageArticle1Body><![CDATA[<p>yep</p>]]></homepageArticle1Body>
    <products id="1192" key="650c4c7d-ac2b-490b-8a38-f4d7a7eb2e6b" parentID="1152" level="2" creatorID="0" sortOrder="0" createDate="2018-09-11T16:40:50" updateDate="2018-09-14T13:58:32" nodeName="Product shop" urlName="product-shop" path="-1,1152,1192" isDoc="" nodeType="1173" creatorName="Tertia Southwick" writerName="Tertia Southwick" writerID="0" template="1172" nodeTypeAlias="products" isPublished="true">
      <keywords><![CDATA[[]]]></keywords>
      <sEOMetaDescription><![CDATA[hihihi]]></sEOMetaDescription>
      <umbracoNavihide>0</umbracoNavihide>
      <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>fsagdehtgk,</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "c04cd293-c2d3-efa6-342e-78699aa903eb"
        }
      ]
    }
  ]
}]]></bodyText>
      <header><![CDATA[RFGTERTYKU]]></header>
      <featuredProducts><![CDATA[umb://document/5125e0fa1db440caae6c63076ecb4b78,umb://document/e6cb7c4e3304414e9cf2567b613b94f1]]></featuredProducts>
      <defaultCurrency><![CDATA[$]]></defaultCurrency>
      <product id="1193" key="5125e0fa-1db4-40ca-ae6c-63076ecb4b78" parentID="1192" level="3" creatorID="0" sortOrder="0" createDate="2018-09-11T16:41:33" updateDate="2018-09-14T12:56:29" nodeName="Donalds Trumpet1" urlName="donalds-trumpet1" path="-1,1152,1192,1193" isDoc="" nodeType="1191" creatorName="Tertia Southwick" writerName="Tertia Southwick" writerID="0" template="1190" nodeTypeAlias="product" isPublished="true">
        <description><![CDATA[<p>One of a kind image found in my documents</p>]]></description>
        <photos><![CDATA[umb://media/b9bfea86f9424dfaa892a59ca759351d]]></photos>
        <productName><![CDATA[Donalds Trumpet]]></productName>
        <price>500</price>
        <features><![CDATA[[{"key":"9d500538-7d75-4510-aef1-47df573a0868","name":"Loud","ncContentTypeAlias":"feature","featureName":"Loud","featureDetails":""},{"key":"b19bdbbd-8e3d-49f5-b68b-2b580cf49371","name":"Useless","ncContentTypeAlias":"feature","featureName":"Useless","featureDetails":""},{"key":"d567ab14-e1a8-4111-bf50-91245f23afa3","name":"Expensive","ncContentTypeAlias":"feature","featureName":"Expensive","featureDetails":""}]]]></features>
      </product>
      <product id="1196" key="e6cb7c4e-3304-414e-9cf2-567b613b94f1" parentID="1192" level="3" creatorID="0" sortOrder="1" createDate="2018-09-14T12:36:53" updateDate="2018-09-14T12:54:22" nodeName="Donalds Trumpet2" urlName="donalds-trumpet2" path="-1,1152,1192,1196" isDoc="" nodeType="1191" creatorName="Tertia Southwick" writerName="Tertia Southwick" writerID="0" template="1190" nodeTypeAlias="product" isPublished="true">
        <photos><![CDATA[umb://media/90151a30fa2549898d6c9a9ac470d2a6]]></photos>
        <productName><![CDATA[Donalds Trumpet]]></productName>
        <price>5.8</price>
        <features><![CDATA[[{"key":"dddf6088-f281-43a8-9a46-6dcc68c8936f","name":"Item 1","ncContentTypeAlias":"feature","featureName":"Useless","featureDetails":""}]]]></features>
      </product>
    </products>
    <articlesMain id="1170" key="a13ef3a6-c6be-407e-aee7-5f094cf1bb12" parentID="1152" level="2" creatorID="0" sortOrder="1" createDate="2018-09-10T14:41:49" updateDate="2018-09-14T13:58:32" nodeName="Articles" urlName="articles" path="-1,1152,1170" isDoc="" nodeType="1166" creatorName="Tertia Southwick" writerName="Tertia Southwick" writerID="0" template="1165" nodeTypeAlias="articlesMain" isPublished="true">
      <umbracoNavihide>0</umbracoNavihide>
      <articlesMainHeader><![CDATA[Yeep]]></articlesMainHeader>
      <articlesItem id="1171" key="2b8b7dbd-94d9-4d38-b1ea-e5ac50382230" parentID="1170" level="3" creatorID="0" sortOrder="0" createDate="2018-09-10T14:42:05" updateDate="2018-09-10T16:49:44" nodeName="dwegb" urlName="dwegb" path="-1,1152,1170,1171" isDoc="" nodeType="1169" creatorName="Tertia Southwick" writerName="Tertia Southwick" writerID="0" template="1168" nodeTypeAlias="articlesItem" isPublished="true">
        <articlesItemBody><![CDATA[<p><img src="https://our.umbraco.com/documentation/Tutorials/Creating-Basic-Site/images/figure-41-articles-parent-with-macro-code.png" alt="Template for Articles Parent with the Macro Code" /></p>
<p><em>Figure 41 - Template for Articles Parent with the Macro Code</em></p>
<p>Check what we have on our <strong><em>Articles</em></strong> page now - we're really getting somewhere! Let's make it a bit more real world - I'll leave the understanding of this to Razor lessons / The Umbraco videos but it will finish our site off nicely - edit the Partial you just created - <strong><em>Developer &gt; Partial View Macro Files &gt; listArticles.cshtml</em></strong> and change the content to be:</p>
<pre>@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{ 
    var selection = CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc"); 
    @* OrderBy() takes the property to sort by and optionally order desc/asc *@
}

@foreach (var item in selection)
{
&lt;div class="article"&gt;
        &lt;div class="articletitle"&gt;&lt;a href="@item.Url"&gt;@item.Name&lt;/a&gt;&lt;/div&gt;
        &lt;div class="articlepreview"&gt;@Umbraco.Truncate(@item.ArticleContents,100) &lt;a href="@item.Url"&gt;Read More..&lt;/a&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;hr/&gt;
}
</pre>
<p><em>Figure 42 - Improved Macro for listArticles</em></p>
<p>Now check this in the browser!</p>
<p><img src="https://our.umbraco.com/documentation/Tutorials/Creating-Basic-Site/images/figure-43-finished-articles-page.png" alt="Finished Articles Page" /></p>
<p><em>Figure 43 - Finished Articles Page</em></p>
<hr />
<h2 class="anchorjs-heading"><a id="next---conclusions-and-where-next" class="offset-anchor"></a><a href="https://our.umbraco.com/documentation/Tutorials/Creating-Basic-Site/Articles-Parent-and-Article-Items#next---conclusions-and-where-next" class="anchorjs-link " aria-label="Anchor link for: next   conclusions and where next" data-anchorjs-icon=""></a>Next - <a href="https://our.umbraco.com/documentation/Tutorials/Creating-Basic-Site/Conclusions-Where-Next">Conclusions and Where Next?</a></h2>
<p>By this point you'll have a basic working site - where next? You've barely scratched the surface of the power of Umbraco!</p>]]></articlesItemBody>
        <articlesItemHeader><![CDATA[title]]></articlesItemHeader>
      </articlesItem>
    </articlesMain>
    <contentPage id="1164" key="6f6e0295-2ab5-46e5-a498-556c89fe4af3" parentID="1152" level="2" creatorID="0" sortOrder="2" createDate="2018-09-10T13:28:58" updateDate="2018-09-14T13:58:13" nodeName="Contact Us" urlName="contact-us" path="-1,1152,1164" isDoc="" nodeType="1163" creatorName="Tertia Southwick" writerName="Tertia Southwick" writerID="0" template="1162" nodeTypeAlias="contentPage" isPublished="true">
      <contentBody><![CDATA[<p>Yep</p>]]></contentBody>
      <contentHeader><![CDATA[Contact Us]]></contentHeader>
    </contentPage>
  </homePage>
</root>